<div class="center-overall">
  <div class="container" style="width: 50%;">
    <div class="card">
      <div class="card-header">
        Vending Machine Backend
        <button class="btn btn-primary" (click)="changeSelection(0)">Inventory</button>
        <button class="btn btn-primary" (click)="changeSelection(1)">Settings</button>
        <button class="btn btn-primary" (click)="changeSelection(2)">Log</button>

      </div>

      <div class="card-body">
        <app-inventory *ngIf="currentIndex==0"></app-inventory>
        <app-settings *ngIf="currentIndex==1"></app-settings>
        <app-logs *ngIf="currentIndex==2"></app-logs>

      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
