<div class="center-overall">
  <div class="container" style="width: 50%;">
    <div class="card">
      <div class="card-header">
        Vending Machine Backend
      </div>
      <div class="card-body">
        <div class="input-group mb-3">


          <!-- <input type="text" class="form-control" placeholder="Email Address" [(ngModel)]="emailStr">
                  <div class="input-group-append">
                      <button class="btn btn-danger" (click)="subscribe()" type="button">Subscribe</button>
                  </div> -->
        </div>
      </div>
      <div class="card-footer">
        Reciept
        <!-- <p class="text-success"> {{successMessage}} </p>
              <p class="text-danger"> {{errorMessage}} </p> -->
      </div>
    </div>
  </div>
</div>